[mysqld]
datadir = /var/lib/mysql
socket  = /var/lib/mysql/mysql.sock
user    = mysql

ndbcluster
ndb-cluster-connection-pool=4

query_cache_type = 0
query_cache_size = 0

character-set-server = utf8mb4

[ndb_mgmd]
config-file = /etc/config.ini
config-dir  = /var/lib/ndb

[mysql_cluster]
ndb-connectstring = 127.0.0.1

